SEPOLIA_URL=https://sepolia.infura.io/v3/YOUR_KEY
BASE_URL=https://mainnet.base.org
ARBITRUM_URL=https://arb1.arbitrum.io/rpc
PRIVATE_KEY=0xYOUR_DEPLOYER_KEY
ETHERSCAN_API_KEY=YOUR_ETHERSCAN_KEY
BASESCAN_API_KEY=YOUR_BASESCAN_KEY
ARBISCAN_API_KEY=YOUR_ARBISCAN_KEY
